Debug/
*.XML
_UpgradeReport_Files/
*.ipch
*.opensdf
*.sdf
*.old
*.filters
build/
*.aux
*.out
*.gz
*.toc
*.o
incoming/
experiments/
doc/*.html
doc/*.tex
doc/*.css
doc/*.pdf
doc/*.mobi
doc/*.epub
bin/audio/
bin/
lib/*.ilk
lib/*.lib
lib/*.dll
out/
*.pyc
*.exp
doc/xelatex_output.txt
doc/kindlegen_output.txt
*.idb
*.pdb
doc/20*
glue/soloud*
scripts/soloud_codegen.py
glue/rpgmaker_soloud.rb
