Debug/
_UpgradeReport_Files/
*.ipch
*.opensdf
*.sdf
*.old
*.filters
build/
*.aux
*.out
*.gz
*.toc
*.o
incoming/
experiments/
scripts/*.log
lib/*
rel/*
doc/*
bin/audio/
bin/
lib/*.ilk
lib/*.lib
lib/*.dll
out/
*.pyc
*.exp
docsrc/xelatex_output.txt
docsrc/kindlegen_output.txt
*.idb
*.pdb
docsrc/20*
glue/*
scripts/soloud_codegen.py
glue/rpgmaker_soloud.rb
*.lastcodeanalysissucceeded
*.bak
CMakeLists.txt.user
