Debug/
*.XML
_UpgradeReport_Files/
*.ipch
*.opensdf
*.sdf
*.old
*.filters
build/
*.aux
*.out
*.gz
*.toc
incoming/
experiments/
doc/*.html
doc/*.tex
doc/*.css
doc/*.pdf
doc/*.mobi
doc/*.epub
bin/audio/
bin/
out/
*.pyc
*.exp
doc/xelatex_output.txt
doc/kindlegen_output.txt
readme.txt
*.idb
